[Unit]
Description=Auto-connect Bluetooth PAN multi-device
After=bluetooth.service network.target
Wants=bluetooth.service

StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/local/bin/auto-bt-pan.sh
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
