[Unit]
Description=USB CDC ECM Gadget
After=systemd-modules-load.service
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/usb-gadget
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target